/*Helpers*/
.oculta{font-size: 0px; margin:0px;}
.logo{
	max-width: 200px;
}

html, body {height:100%;}

.geral {
	margin-top: -10px;
	min-height:100%;
	position:relative;
}
 
.footer1 {
	position:absolute;
	bottom:0;
	width: 98.5%;
	font-size: 12px;
	border-radius: 3px;
}
.footer1 footer{
	margin-top: 10px;
} 

.footer1 a{
	color:yellow;
	letter-spacing:3px;
}

/*Resets*/
a:hover{
	text-decoration: none;
	color:#15e4eb !important;
}


/*Fontes*/



/*Header*/

.header{
	
	float: left;
	width: 100%;
	border-radius: 3px;
	
}

.padding-10:{ }
span.texto-logo{
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	margin: 0px 0px 0px 13px;	
}

.logo{
	float:left;
}

ul.menu{
	list-style: none;
	float: right;
}

ul.menu li{ display: inline;}

ul.menu li a{
	margin: 8px 20px;
	color:#fff;
	
	font-size: 16px;	
}

ul.menu li a:hover{
	text-decoration: none;
	color: #ccc;
}

.rodape{
	padding-bottom: 50px;
	padding: 4px 4px 4px 4px;         
	/* margin-bottom: 5px; */
	/* margin-top: 5px;*/	
	text-align: center;	
	background-color:#3299CC;
	background-image:linear-gradient(to bottom, transparent 1px, rgba(0,0,0,.1) 1px);
	background-size: auto 4px;	
	color: #fff;	
}

.container1{

}
/*Principal*/

h1.titulo{
	color: #fff;
	font-size: 24px;
}

.top-header{
	background-color: #3B98C1;
	padding: 10px 10px;
	border-radius: 3px;
}

.principal{
	margin-top: 145px;
}

.table{
	background-color: #fff;
}
.titulo-tabela{
	background-color: #3B98C1;
	padding: 10px 10px;
	border-radius: 3px;
	color: #fff;
	text-align: center;
}

.navegacao{
    padding: 4px;
}
.cadastrar{
    
}
.pesquisar{
    float: left;
}

.pagination{

}
/*Cores - http://www.cssmatic.com/*/


.gradiente-cinza{
background: rgba(46,39,46,1);
background: -moz-linear-gradient(top, rgba(46,39,46,1) 0%, rgba(224,211,224,1) 26%, rgba(43,40,43,1) 51%, rgba(199,181,199,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,39,46,1)), color-stop(26%, rgba(224,211,224,1)), color-stop(51%, rgba(43,40,43,1)), color-stop(100%, rgba(199,181,199,1)));
backgroun15e4eb !importantd: -webkit-linear-gradient(top, rgba(46,39,46,1) 0%, rgba(224,211,224,1) 26%, rgba(43,40,43,1) 51%, rgba(199,181,199,1) 100%);
background: -o-linear-gradient(top, rgba(46,39,46,1) 0%, rgba(224,211,224,1) 26%, rgba(43,40,43,1) 51%, rgba(199,181,199,1) 100%);
background: -ms-linear-gradient(top, rgba(46,39,46,1) 0%, rgba(224,211,224,1) 26%, rgba(43,40,43,1) 51%, rgba(199,181,199,1) 100%);
background: linear-gradient(to bottom, rgba(46,39,46,1) 0%, rgba(224,211,224,1) 26%, rgba(43,40,43,1) 51%, rgba(199,181,199,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e272e', endColorstr='#c7b5c7', GradientType=0 );
}
.gradiente-azul{
background: rgba(17,113,130,1);
background: -moz-linear-gradient(top, rgba(17,113,130,1) 0%, rgba(11,141,180,1) 22%, rgba(31,142,190,1) 36%, rgba(44,97,115,1) 75%, rgba(78,171,156,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17,113,130,1)), color-stop(22%, rgba(11,141,180,1)), color-stop(36%, rgba(31,142,190,1)), color-stop(75%, rgba(44,97,115,1)), color-stop(100%, rgba(78,171,156,1)));
background: -webkit-linear-gradient(top, rgba(17,113,130,1) 0%, rgba(11,141,180,1) 22%, rgba(31,142,190,1) 36%, rgba(44,97,115,1) 75%, rgba(78,171,156,1) 100%);
background: -o-linear-gradient(top, rgba(17,113,130,1) 0%, rgba(11,141,180,1) 22%, rgba(31,142,190,1) 36%, rgba(44,97,115,1) 75%, rgba(78,171,156,1) 100%);
background: -ms-linear-gradient(top, rgba(17,113,130,1) 0%, rgba(11,141,180,1) 22%, rgba(31,142,190,1) 36%, rgba(44,97,115,1) 75%, rgba(78,171,156,1) 100%);
background: linear-gradient(to bottom, rgba(17,113,130,1) 0%, rgba(11,141,180,1) 22%, rgba(31,142,190,1) 36%, rgba(44,97,115,1) 75%, rgba(78,171,156,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#117182', endColorstr='#4eab9c', GradientType=0 );
}

.gradiente-azul2{

background: rgba(24,123,148,0.99);
background: -moz-linear-gradient(top, rgba(24,123,148,0.99) 0%, rgba(167,202,212,0.98) 41%, rgba(91,172,194,0.97) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(24,123,148,0.99)), color-stop(41%, rgba(167,202,212,0.98)), color-stop(100%, rgba(91,172,194,0.97)));
background: -webkit-linear-gradient(top, rgba(24,123,148,0.99) 0%, rgba(167,202,212,0.98) 41%, rgba(91,172,194,0.97) 100%);
background: -o-linear-gradient(top, rgba(24,123,148,0.99) 0%, rgba(167,202,212,0.98) 41%, rgba(91,172,194,0.97) 100%);
background: -ms-linear-gradient(top, rgba(24,123,148,0.99) 0%, rgba(167,202,212,0.98) 41%, rgba(91,172,194,0.97) 100%);
background: linear-gradient(to bottom, rgba(24,123,148,0.99) 0%, rgba(167,202,212,0.98) 41%, rgba(91,172,194,0.97) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#187b94', endColorstr='#5bacc2', GradientType=0 );


}

.gradiente-azul3{

background: rgba(21,137,183,0.97);
background: -moz-linear-gradient(top, rgba(21,137,183,0.97) 0%, rgba(97,167,193,0.97) 22%, rgba(81,161,190,0.97) 42%, rgba(52,150,186,0.94) 78%, rgba(35,144,183,0.94) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(21,137,183,0.97)), color-stop(22%, rgba(97,167,193,0.97)), color-stop(42%, rgba(81,161,190,0.97)), color-stop(78%, rgba(52,150,186,0.94)), color-stop(100%, rgba(35,144,183,0.94)));
background: -webkit-linear-gradient(top, rgba(21,137,183,0.97) 0%, rgba(97,167,193,0.97) 22%, rgba(81,161,190,0.97) 42%, rgba(52,150,186,0.94) 78%, rgba(35,144,183,0.94) 100%);
background: -o-linear-gradient(top, rgba(21,137,183,0.97) 0%, rgba(97,167,193,0.97) 22%, rgba(81,161,190,0.97) 42%, rgba(52,150,186,0.94) 78%, rgba(35,144,183,0.94) 100%);
background: -ms-linear-gradient(top, rgba(21,137,183,0.97) 0%, rgba(97,167,193,0.97) 22%, rgba(81,161,190,0.97) 42%, rgba(52,150,186,0.94) 78%, rgba(35,144,183,0.94) 100%);
background: linear-gradient(to bottom, rgba(21,137,183,0.97) 0%, rgba(97,167,193,0.97) 22%, rgba(81,161,190,0.97) 42%, rgba(52,150,186,0.94) 78%, rgba(35,144,183,0.94) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1589b7', endColorstr='#2390b7', GradientType=0 );

}

.degrade{
	background: #8C1717;  /*Azul: #000033  Cool Copper: #D98719    Dark:#5C4033  Brown:#A62A2A http://www.linhadecodigo.com.br/artigo/3640/cores-em-html-saiba-o-codigo-hexadecimal-de-sua-cor-preferida.aspx*/
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
	
	/*Efeito degrade do fundo do topo  */
	background-color:#3299CC;
	background-image:linear-gradient(to bottom, transparent 1px, rgba(0,0,0,.1) 1px);
	background-size: auto 4px;	
}





.degrade2{
	padding: 10px 10px 20px 10px;
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8
		100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799),
		color-stop(50%, #2989d8), color-stop(51%, #207cca),
		color-stop(100%, #7db9e8));
	background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%,
		#7db9e8 100%);
	background: -o-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8
		100%);
	background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8
		100%);
		
		
}